@model List<Warehouse.Models.Tanks.AllTanksViewModel>

@{
    ViewBag.Title = "All Tanks";
}

<div class="row">
    <h2 style="text-align: center">All Tanks</h2>
</div>

<div class="row">
    @foreach (var tank in Model)
    {
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h2>@tank.Number. @tank.Name</h2>
                </li>
                <li class="list-group-item">
                    <h2>Current fertilizer: @tank.CurrentFertilizer</h2>
                    <h3>Available Capacity: @tank.CapacityLeft liters</h3>
                    <h3>Maximum Capacity: @tank.MaxCapacity liters</h3>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="list-group-item">
                        <p>
                            <a class="btn btn-warning" href="/ManageTank/Edit/@tank.Id">Edit</a>
                            <a class="btn btn-danger" href="/ManageTank/Delete/@tank.Id">Delete</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    }
</div>

