@model List<Warehouse.Models.Silos.AllSilosViewModel>

@{
    ViewBag.Title = "All Silos";
}

<div class="row">
    <h2 style="text-align: center">All Silos</h2>
</div>

<div class="row">
    @foreach (var silo in Model)
    {
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h2>@silo.Number. @silo.Name</h2>
                </li>
                <li class="list-group-item">
                    <h2>Current commodity: @silo.CurrentCommodity</h2>
                    <h3>Available Capacity: @silo.CapacityLeft tones</h3>
                    <h3>Maximum Capacity: @silo.MaxCapacity tones</h3>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="list-group-item">
                        <p>
                            <a class="btn btn-warning" href="/ManageSilo/Edit/@silo.Id">Edit</a>
                            <a class="btn btn-danger" href="/ManageSilo/Delete/@silo.Id">Delete</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    }
</div>


