@model Warehouse.Models.Silos.DeleteSiloModel
    @{
        ViewBag.Title = "Delete";
    }

    <h2>Delete Paste</h2>
    @using (Html.BeginForm("Delete", "ManageSiloController", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MaxCapacity, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextAreaFor(m => m.MaxCapacity, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentLoad, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextAreaFor(m => m.CurrentLoad, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CapacityLeft, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextAreaFor(m => m.CapacityLeft, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentCommodity, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextAreaFor(m => m.CurrentCommodity, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <a href="/ManageSiloController/AllSilos" class="btn btn-default">Cancel</a>
                    <a href="/ManageSiloController/ConfirmDelete/@ViewBag.Id" class="btn btn-danger">Delete</a>

                </div>
            </div>
    }
